.sb-container--section {
  display: flex;
  gap: var(--size-16);
  padding: var(--size-8) var(--size-0);
}

.sb-container--example {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}
