/* ==========================
   Base
   ========================== */
.btn {
  --btn-bg-color: transparent;
  --btn-bg-hover: transparent;
  --btn-bg-active: transparent;
  --btn-border: none;
  --btn-border-hover: none;
  --btn-text: currentColor;
  --btn-text-hover: currentColor;

  background-color: var(--btn-bg-color);
  border-radius: var(--size-4);
  border: var(--btn-border);
  color: var(--btn-text);
  cursor: pointer;
  display: inline-flex;
  position: relative;
  transition: background-color 0.1s ease;

  &:focus-visible {
    --icon-color: var(--icon-focus, var(--icon-default, currentColor));
    outline: var(--size-1) solid var(--btn-color);
    outline-offset: var(--size-1);
  }
  &:hover:not(:disabled) {
    --icon-color: var(--icon-hover, var(--icon-default, currentColor));
    background-color: var(--btn-bg-hover);

    &:active {
      background-color: var(--btn-bg-active);
    }
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

/* ==========================
   Tone - defines palette
   ========================== */
.primary {
  --btn-color: var(--colors-blue-450);
  --btn-color-hover: var(--colors-blue-450);
  --btn-color-active: var(--colors-blue-400);
}

.warning {
  --btn-color: var(--colors-red-400);
  --btn-color-hover: var(--colors-red-400);
  --btn-color-active: var(--colors-red-350);
}

/* ==========================
   Fill - applies palette
   ========================== */
.solid {
  --btn-bg-active: var(--btn-color-active);
  --btn-bg-color: var(--btn-color);
  --btn-bg-hover: var(--btn-color-hover);

  --btn-border: var(--size-x) solid transparent;

  --btn-text: white;
  --btn-text-hover: white;
}

.outlined {
  --btn-bg-active: var(--colors-bw-950);
  --btn-bg-color: white;
  --btn-bg-hover: white;

  --btn-border: var(--size-x) solid var(--btn-color);

  --btn-text: var(--btn-color);
  --btn-text-hover: var(--btn-color-hover);
}

/* ==========================
   Sizes
   ========================== */
.sm {
  font-size: var(--size-6);
  gap: var(--size-2);
  padding: var(--size-2) var(--size-4);
}
.md {
  gap: var(--size-4);
  padding: var(--size-4) var(--size-8);
}
.lg {
  font-size: var(--size-10);
  gap: var(--size-6);
  padding: var(--size-6) var(--size-10);
}

/* ==========================
   Sub-elements
   ========================== */
.label {
  align-self: center;
  display: inline-flex;
}

.icon {
  display: inline-flex;
}

.spinner {
  animation: spin 0.8s linear infinite;
  border: var(--size-1) solid transparent;
  border-top-color: currentColor;
  border-radius: var(--radius-full);
  height: var(--size-8);
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: center center;
  width: var(--size-8);
}

/* ==========================
   Accessibility helpers
   ========================== */
.hidden {
  clip-path: inset(50%);
  pointer-events: none;
}

/* ==========================
   Animations
   ========================== */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
