:root {
  ---radius-0: 0rem;
  ---radius-1: 0.125rem;
  ---radius-2: 0.25rem;
  ---radius-3: 0.375rem;
  ---radius-4: 0.5rem;
  ---radius-5: 0.625rem;
  ---radius-6: 0.75rem;
  ---radius-7: 0.875rem;
  ---radius-8: 1rem;
  ---radius-full: 50%;
}
