:root {
  --button-padding-co: var(--size-4) var(--size-2);
  --button-padding-rg: var(--size-8) var(--size-4);

  --icon-gap-lg: var(--size-8);
  --icon-gap-md: var(--size-4);
  --icon-gap-sm: var(--size-2);
}
